.abCont3{
    margin: auto;
    /* width: 90%; */
    border: 3px; 
    padding: 10px;
    height: 100%;
    background-color: white;
}

.formCont{
    margin: auto;
    width: 50%;
    border: 3px; 
    padding: 10px;
    height: 100%;
    background-color: white;
}
.contactIcons{
    margin: auto;
    width: 20%;
    border: 3px; 
    padding: 10px;
    height: 100%;
    align-content: center;
    background-color: white;
}
