.avatar{
    float: left;
    margin-left: 10%;
}

.textz {
    color: #1a1d24;;
    margin-right: 8%;
    margin-left:15%;
    text-align: center
}

.abCont{
    width: 100%;
    border: 3px; 
    padding: 10px;
    height: 100%;
    background-color: white;
   
}